doctype html
html
  head
    title Best Dance Academy in Kolkata for learning various dances
    block scripts
    block style
  body
    nav#navbar 
        ul
            div#logo
                img(src="https://cdn.pixabay.com/photo/2016/04/01/09/52/carefree-1299639_960_720.png", alt="Image")
                | CDA
            li #[a(href="/") Home] 
            li #[a(href="/") Departments] 
            li #[a(href="/") Class Info]
            li #[a(href="/") About us] 
            li #[a(href="/contact") Contact us]
            
    block content
    footer#footer 
        | Copyright © 2023 CreativeDanceAcademy.com | All rights reserved
    